:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
* {
  font-family: "Vazirmatn", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #444;
}
body {
  background-color: #f3f3f3;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h3 {
  font-size: 30px;
}
header {
  width: 95%;
  padding-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-size: 18px;
  height: 10%;
}
.nav-sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  width: 100%;
  top: 0;
  right: 0;
}
.nav__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__logo--item {
  margin-left: 10px;
}
.nav__links {
  display: flex;
  justify-content: space-evenly;
}
.nav__link {
  margin-left: 100px;
  text-decoration: none;
  padding: 10px 0;
}
.nav__btn {
  background-color: var(--color-primary);
  border-radius: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.header__heading {
  margin: 155px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.header__heading--text {
  margin: 80px 40px;
}
.header__heading--text h1 {
  margin-bottom: 20px;
}
.highlight {
  position: relative;
  z-index: 1;
}
.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
  background-image: var(--gradient-primary);
  transform: skew(-15deg);
  z-index: -1;
}

.header__heading--text01 {
  display: inline-block;
  margin-right: 130px;
}
.header__heading--text02 {
  margin-bottom: 20px;
  font-weight: 300;
}
.header__heading--text-link {
  color: var(--color-primary);
  font-size: 20px;
  text-decoration: none;
}
.header__heading--img {
  direction: ltr;
}
section {
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid #ddd;
  padding: 100px 0;
  transition: all 1s ease-in-out;
}
.section__hidden {
  opacity: 0;
  transform: translateY(100px);
}
.section__heading {
  padding: 30px 80px;
}
.section__title {
  color: var(--color-primary-darker);
  margin-bottom: 20px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 50px;
  padding: 10px 30px;
}
.features__icon,
.operations__icon {
  fill: var(--color-primary-darker);
  margin-bottom: 10px;
}
.features__feature--text {
  text-align: justify;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}
.features__img {
  text-align: center;
  margin: auto;
}
.operations__tab-container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 25px;
  transition: all 1s ease-in-out;
}
.btn {
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}
.operations__tab--active {
  transform: translateY(-0.75rem);
}
.operations__tab--1 {
  background-color: var(--color-secondary);
}
.operations__tab--1:hover {
  background-color: var(--color-secondary-darker);
}
.operations__tab--2 {
  background-color: var(--color-tertiary);
}
.operations__tab--2:hover {
  background-color: var(--color-tertiary-darker);
}
.operations__tab--3 {
  background-color: var(--color-primary);
}
.operations__tab--3:hover {
  background-color: var(--color-primary-darker);
}
.operations__content-container {
  background-color: white;
  padding: 60px 40px;
  width: 80%;
  height: 60%;
  margin: 0 auto;
}
.operations__content {
  display: none;
}
.operations__content--active {
  display: grid;
  grid-template-columns: 5rem 1fr;
  column-gap: 2rem;
  row-gap: 0.5rem;
}
.operations__content p {
  grid-column: 2;
  font-size: 18px;
  line-height: 2;
}
.operations__content--icon {
  direction: ltr;
}
.slider {
  position: relative;
  height: 350px;
  margin: 60px auto;
}
.slider-container {
  width: 70%;
  position: relative;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
}
.slider__slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px;
  background-color: oklch(98.4% 0.003 247.858);
  position: absolute;
  top: 0;
  align-items: center;
  justify-items: center;
  transition: transform 1s;
}

.slider__slide--img1 {
  width: 60%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.slider__slide--text {
  text-align: center;
  line-height: 2;
  padding: 20px;
  color: oklch(51.1% 0.096 186.391);
}
.slider__btn {
  position: absolute;
  top: 50%;
  background-color: white;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-icon {
  width: 24px;
  height: 24px;
  stroke: var(--color-primary-darker);
}
.slider__btn:hover {
  background-color: var(--color-primary);
}
.slider__btn:hover .slider-icon {
  stroke: white;
}
.next {
  right: 15%;
  transform: translate(50%, -50%);
}
.prev {
  left: 15%;
  transform: translate(-50%, -50%);
}
.slider__dots {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 200%);
  display: flex;
  gap: 10px;
}
.slider__dot {
  border: 2px solid var(--color-primary-darker);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.slider__dot--activate {
  background-color: var(--color-primary-darker);
}
.section__signup {
  background-color: #3c3e40;
  width: 100%;
  margin-bottom: 0;
}
.sign-up__heading h4 {
  color: white;
}
.signup__tab--container {
  height: 150px;
  text-align: center;
}
.signup__tab {
  background-color: var(--color-primary);
  font-weight: bold;
}
.signup__tab:hover {
  background-color: var(--color-primary-darker);
}
footer {
  background-color: #3c3e40;
  width: 100%;
  padding-top: 100px;
  border-top: 1px solid #666666;
}
.footer__links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.footer__links--list {
  list-style: none;
  flex-basis: auto;
}
.footer__links--list li {
  font-size: 18px;
  color: white;
}
.footer__link {
  text-decoration: none;
  color: white;
  transition: transform 100ms ease-in-out;
  display: inline-block;
}
.footer__link:hover {
  color: var(--color-secondary-darker);
  transform: translateX(-8px);
}
.footer__logo {
  text-align: center;
  margin-bottom: 10px;
}
.footer__logo p {
  color: white;
  font-weight: bold;
  position: relative;
  top: -12px;
}
